@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #111;
  color: white;
  padding: 2rem;
}

nav a {
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #7a7a7a;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #fff;
}


h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Card da foto */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s ease;
}

/* Legenda sobre a foto */
.legenda {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 0.7rem;
  font-size: 0.95rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .legenda {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #00000033;
  font-size: 0.9rem;
  color: #888;
}